/* Глобальные стили */
body {
    margin: 0;
    padding: 0;
    font-family: Acrom, sans-serif;
}

/* Стили контейнера */
.container {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent), url('https://i.imgur.com/rjQNP2j.jpg');
    background-size: cover;
    background-position: center;
    padding: 0 5%;
    position: relative;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Стили раздела главной страницы */
.playHero {
    color: #fff;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-align: center;
}

.playHero__item {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.playHero__item-info {
    max-width: 602px;
    margin: 0 auto;
}

.playHero__item-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -.05em;
    text-transform: uppercase;
    margin-bottom: 20px;
    animation: slideInLeft 1s ease;
}

.playHero__item-text {
    font-size: 28px;
    font-weight: 200;
    line-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInRight 1s ease;
}

/* Стили кнопок */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #FF0073;
    color: #fff;
}

.btn-primary:hover {
    background-color: #e60068;
}

.btn-secondary {
    border: 1px solid #FF0073;
    background-color: transparent;
    color: #ffffff;
}

.btn-secondary:hover {
    background-color: #FF0073;
    color: #fff;
}

/* Стили изображений */
img[src="images/vk_play.png"] {
    vertical-align: middle;
    margin-left: 5px;
    width: 20px;
    height: 20px;
}

/* Добавляем стили для кастомной кнопки */
.btn-custom {
    background-color: #61c510;
    color: #fff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Добавляем анимационные стили при наведении и активации */
.btn-custom:hover {
    background-color: #61c510;
    transform: scale(1.1);
}

.btn-custom:active {
    background-color: #61c510;
}

/* Анимация появления элементов */
@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Стили модального окна */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    display: flex;
}

.modal {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

/* Добавьте анимацию появления модального окна */
.modal.show-modal {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Стили для кнопки "Скачать SAMP" */
.btn-primary {
    background-color: #FF0073;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #FF0073;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: #e60068;
    transform: scale(1.05);
}

/* Стили для кнопки "Закрыть" */
.btn-secondary {
    background-color: #444;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-secondary:hover {
    background-color: #222;
    transform: scale(1.05);
}

/* Стили для мини-окна выбора загрузки */
.download-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    display: flex;
}

.download-overlay-IP {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    display: flex;
}

.download-modal {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

.download-modal.show-modal {
    animation: fadeIn 0.3s ease-in-out;
}

